# Content Based Recommendation System

In [27]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("asaniczka/tmdb-movies-dataset-2023-930k-movies")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/asaniczka/tmdb-movies-dataset-2023-930k-movies?dataset_version_number=821...

100%|██████████| 233M/233M [00:04<00:00, 58.1MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/asaniczka/tmdb-movies-dataset-2023-930k-movies/versions/821

In [28]:
import os

files = os.listdir(path)
data_dir = os.path.join(path, files[0])

In [29]:
import pandas as pd

df = pd.read_csv(data_dir)

In [30]:
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [31]:
df.isnull().sum()
df.duplicated().sum()
df.drop_duplicates()
df = df.dropna()

In [32]:
new_df = df[['id', 'title', 'overview', 'genres', 'tagline', 'keywords']]

In [33]:
new_df.head()

,id,title,overview,genres,tagline,keywords
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure",Your mind is the scene of the crime.,"rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction",Mankind was born on Earth. It was never meant ...,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller",Welcome to a world without rules.,"joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction",Enter the world of Pandora.,"future, society, culture clash, space travel, ..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",Some assembly required.,"new york city, superhero, shield, based on com..."

In [34]:
import string

def transform_text(text):
  text = text.lower()
  return text.replace(' ', '')

In [35]:
new_df["genres"] = new_df["genres"].apply(transform_text)
new_df["keywords"] = new_df["keywords"].apply(transform_text)

/tmp/ipython-input-2717182113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["genres"] = new_df["genres"].apply(transform_text)
/tmp/ipython-input-2717182113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["keywords"] = new_df["keywords"].apply(transform_text)

In [36]:
new_df.head()

,id,title,overview,genres,tagline,keywords
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","action,sciencefiction,adventure",Your mind is the scene of the crime.,"rescue,mission,dream,airplane,paris,france,vir..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"adventure,drama,sciencefiction",Mankind was born on Earth. It was never meant ...,"rescue,future,spacecraft,raceagainsttime,artif..."
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"drama,action,crime,thriller",Welcome to a world without rules.,"joker,sadism,chaos,secretidentity,crimefighter..."
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","action,adventure,fantasy,sciencefiction",Enter the world of Pandora.,"future,society,cultureclash,spacetravel,spacew..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"sciencefiction,action,adventure",Some assembly required.,"newyorkcity,superhero,shield,basedoncomic,alie..."

In [37]:
new_df["text"] = df["overview"] + df["tagline"] + df["genres"] + df["keywords"]

/tmp/ipython-input-3591145528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["text"] = df["overview"] + df["tagline"] + df["genres"] + df["keywords"]

In [38]:
new_df.head()

,id,title,overview,genres,tagline,keywords,text
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","action,sciencefiction,adventure",Your mind is the scene of the crime.,"rescue,mission,dream,airplane,paris,france,vir...","Cobb, a skilled thief who commits corporate es..."
1,157336,Interstellar,The adventures of a group of explorers who mak...,"adventure,drama,sciencefiction",Mankind was born on Earth. It was never meant ...,"rescue,future,spacecraft,raceagainsttime,artif...",The adventures of a group of explorers who mak...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"drama,action,crime,thriller",Welcome to a world without rules.,"joker,sadism,chaos,secretidentity,crimefighter...",Batman raises the stakes in his war on crime. ...
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","action,adventure,fantasy,sciencefiction",Enter the world of Pandora.,"future,society,cultureclash,spacetravel,spacew...","In the 22nd century, a paraplegic Marine is di..."
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"sciencefiction,action,adventure",Some assembly required.,"newyorkcity,superhero,shield,basedoncomic,alie...",When an unexpected enemy emerges and threatens...

In [39]:
new_df = new_df[["id", "title", "text"]]

In [40]:
new_df["text"] = new_df["text"].apply(lambda x: x.lower())
new_df["text"] = new_df["text"].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

from nltk.stem import PorterStemmer
ps = PorterStemmer()
new_df["text"] = new_df["text"].apply(lambda x: ' '.join([ps.stem(word) for word in x.split()]))

In [41]:
new_df["title"] = new_df["title"].apply(lambda x: x.lower())

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=10000, stop_words="english")
vector = cv.fit_transform(new_df["text"]).toarray()

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

In [44]:
new_df[new_df['title'] == "iron man"].index

Index([12], dtype='int64')

In [45]:
def recommended(movie):

  movie = movie.lower()
  movie_row = new_df[new_df["title"] == movie]
  if movie_row.empty:
    print(f"Movie '{movie.title()}' not found in the database. Please check the title.")
    return

  movie_index = movie_row.index[0]
  distance = similarity[movie_index] # Corrected from similarity(movie_index)
  movies_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:10]

  print(f"Recommendations for '{movie.title()}':")
  for i in movies_list:
    print(new_df.iloc[i[0]].title.title())

In [46]:
user_input = input("Enter a movie title: ")
recommended(user_input)

Enter a movie title: Iron Man
Recommendations for 'Iron Man':
Iron Man 3
Iron Man 2
Inhumans: The First Chapter
Guardians Of The Galaxy Vol. 2
Guardians Of The Galaxy
Shang-Chi And The Legend Of The Ten Rings
Spider-Man: Homecoming
Avengers: Age Of Ultron
Guardians Of The Galaxy Vol. 3

In [ ]:
import requests

def fetch_poster(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US"
    try:
        data = requests.get(url)
        data.raise_for_status() # Raise HTTPError for bad responses (4xx or 5xx)
        data = data.json()
        poster_path = data.get('poster_path')
        if poster_path:
            full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
            return full_path
        else:
            print(f"Poster path not found for movie ID {movie_id}.")
            return None
    except requests.exceptions.HTTPError as e:
        print(f"HTTP error for movie ID {movie_id}: {e.response.status_code} - {e.response.text}")
        return None
    except requests.exceptions.ConnectionError as e:
        print(f"Connection error for movie ID {movie_id}: {e}")
        return None
    except requests.exceptions.Timeout as e:
        print(f"Timeout error for movie ID {movie_id}: {e}")
        return None
    except requests.exceptions.RequestException as e:
        print(f"An unexpected error occurred for movie ID {movie_id}: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred during JSON parsing or data access for movie ID {movie_id}: {e}")
        return None

In [47]:
fetch_poster(27205)

'https://image.tmdb.org/t/p/w500//xlaY2zyzMfkhk0HSC5VUwzoZPU1.jpg'

In [ ]:
import pickle

pickle.dump(new_df,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pickle

pickle.dump(similarity, open('/content/drive/MyDrive/Colab Notebooks/similarity.pkl', 'wb'))